/**
 * This stylesheet is using following CSS methodology:
 * http://rscss.io
 */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  background: #18171b;
  color: #ffffff;
}
a {
  color: #e91e63;
  text-decoration: none;
}
a:hover {
  color: #f27ba3;
}
img {
  vertical-align: middle;
}
pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
pre.sf-dump {
  background-color: transparent !important;
}
.page-section {
  padding: 40px;
  position: relative;
}
.page-section.-black {
  background: #000;
}
.page-section.-white {
  background: #ffffff;
  color: #18171b;
}
.page-section.-gray-200 {
  background: #eeeeee;
  color: #18171b;
}
.page-section.-gray-300 {
  background: #e0e0e0;
  color: #18171b;
}
.page-heading {
  position: relative;
  z-index: 1;
}
.page-heading > .logo img {
  border-radius: 3px;
}
.page-heading > .title {
  font-size: 100px;
  line-height: 100px;
  letter-spacing: -12px;
  margin: 0;
}
.page-heading > .title a {
  color: #18171b;
}
.page-heading > .title a .char7,
.page-heading > .title a .char8,
.page-heading > .title a .char9 {
  color: #e91e63;
}
.page-heading > .description {
  display: inline-block;
  background: #e91e63;
  color: #ffffff;
  padding: 10px 40px;
  font-weight: bold;
  letter-spacing: -1px;
  border-radius: 3px;
}
.page-heading > .description a {
  color: #f492b4;
}
.table-default {
  margin: -10px;
}
.table-default table {
  width: 100%;
  border-spacing: 10px;
  border-collapse: separate;
  text-align: left;
}
.table-default table td,
.table-default table th {
  padding: 20px;
  border-radius: 3px;
  overflow: hidden;
}
.table-default table th {
  white-space: nowrap;
  background: #ffffff;
  color: #18171b;
}
.table-default table th small {
  display: block;
  font-weight: normal;
  font-size: 12px;
}
.table-default table td {
  background: #18171b;
  color: #ffffff;
}
.button-action {
  transition: all 0.3s ease;
  display: inline-block;
  padding: 10px 40px;
  border: 2px solid #18171b;
  letter-spacing: -1px;
  text-align: center;
  font-weight: bold;
  color: #18171b;
  border-radius: 3px;
}
.button-action:hover {
  background: #18171b;
  color: #ffffff;
}
.button-action:active {
  position: relative;
  top: 2px;
}
.particle-ground canvas {
  position: absolute;
  top: 0;
  left: 0;
}
._center {
  text-align: center !important;
}
._right {
  text-align: center !important;
}
._pull-left {
  float: left !important;
}
._pull-right {
  float: right !important;
}
