{% if this.app.debug %}

    <div class="page-section -gray-300">
        <div class="default-table">
            <table>
                {% for key, data in this.app.debugInfo.get() %}
                    <tr>
                        <th>{{ data.title }} <small>{{ data.description }}</small></th>
                        <td>{{ this.d(data.value) }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endif %}
